@import "tailwindcss";

:root {
  --primary: #fff3;
}

body {
  overflow-x: hidden;
  background: #010101;
  color: #ffffff;
  font-family: Arial, Helvetica, sans-serif;
  scroll-behavior: smooth !important;
}

html {
  scroll-behavior: smooth !important;
}